*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 550px) and (min-width: 320px) { /*phones_portrait*/
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
     }

    .front_img{
        background-image: url("images/Finished Product-061.jpg");
        background-size: 100% 100%;
        width: 100%;
        height: 60%;
    }

    .title{
        margin-left: 5%;
        padding: 0;
        font-size: xx-large;
        top: 42%;
    }
    .rsvp_back{
        width:100%;
        top: 40%;
        height: 100%;

    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        top: 80%;
    }

    .city_state{
        margin: 0;
        padding: 0;
    }
    .date{
        margin:0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding:0;
    }
    .reservation{
        margin:0;
        padding: 0;
    }
    .dialog{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
    }
    .wrapper{
        top: 35%;
        
    }
    .form{
        font-size: 25px;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    }
    
}
@media screen and (max-width: 935px) and (min-width: 660px) and (min-height: 343px) and (max-height: 435px)/* Phones_Landscape(normal) */ {
    section{
        height: 100vh;
    }
    .front_img{
        background-image: url("images/FinishedProduct087.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:66.7%;
        height: 100%;
        float: left; 
    }
    .title{
        margin:0;
        padding-left: 5%;
        top: 85%
        
    }
    
    
    .city_state {
        margin: 0;
        padding: 0;
    }
    .date{
        margin: 0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding: 0;
    }
    
    .reservation{
        margin: 0;
        padding: 0;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    
    }
    .rsvp_button:hover{
        background-color: #d8b786;
        color: #5e704a;
    }
    .rsvp_back{
        background-image: url("olive_2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 33.3%;
        height: 100%;
        float: right;
    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        top: 50%;
        left: 70%;
    }
    
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        font-family: didot,serif;
    }
    
    .wrapper{
        margin: auto;
        width: 60%;
        padding: 10px;
        border: 3px solid burlywood;
        border-radius: 10px;
        background-color: #d8b786;
        position: relative;
    }
    
    h2{
        margin: 10px;
        font-size: 24px;
    }
    input{
        font-family: didot,sarif;
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        background-color: rgb(233, 233, 201);
        border: 2px solid #7c8e76;
    
    }
    .submit{
        width: 96%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .submit:hover{
        background-color: #7c8e76;
        color: #d8b786;
    
    }
    .dialog{
        margin: 0;
        padding: 0;
    }
    
    .cancel_button{
        font-family: didot,serif;
        width: 25%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .cancel_button:hover{
        background-color: #7c8e76;
        color: #d8b786;
    }
    .hyperlinks{
        padding: 5px;
    }

    .hyperlinks a{
        font-size:medium;
    }
}

@media screen and (max-width: 658px) and (min-width: 560px) and (min-height: 260px) and (max-height: 342px) /* Phones_Landscape(small) */ {
    section{
        height: 100vh;
    }
    .front_img{
        background-image: url("images/FinishedProduct087.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:66.7%;
        height: 100%;
        float: left; 
    }
    .title{
        margin:0;
        padding-left: 5%;
        top: 85%
        
    }
    
    
    .city_state {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .date{
        margin: 0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding: 0;
    }
    
    .reservation{
        margin: 0;
        padding: 0;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    
    }
    .rsvp_button:hover{
        background-color: #d8b786;
        color: #5e704a;
    }
    .rsvp_back{
        background-image: url("olive_2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 33.3%;
        height: 100%;
        float: right;
    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        top: 50%;
        left: 70%;
        
        
    }
    
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        font-family: didot,serif;
    }
    
    .wrapper{
        margin: auto;
        width: 60%;
        padding: 10px;
        border: 3px solid burlywood;
        border-radius: 10px;
        background-color: #d8b786;
        position: relative;
    }
    
    .form{
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    h2{
        margin: 0;
        font-size: 15px;
    }
    input{
        font-family: didot,sarif;
        width: 90%;
        padding: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: rgb(233, 233, 201);
        border: 2px solid #7c8e76;
        font-size: small;
    
    }
    .submit{
        width: 96%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .submit:hover{
        background-color: #7c8e76;
        color: #d8b786;
    
    }
    .dialog{
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .cancel_button{
        font-family: didot,serif;
        width: 30%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .cancel_button:hover{
        background-color: #7c8e76;
        color: #d8b786;
    }
}

@media screen and (max-width: 751px) and (min-width: 750px) and (min-height: 307px) and (max-height: 308px) /* Phones_Landscape(small_Iphone) */ {
    section{
        height: 100vh;
    }
    .front_img{
        background-image: url("images/FinishedProduct087.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:66.7%;
        height: 100%;
        float: left; 
    }
    .title{
        margin:0;
        padding-left: 5%;
        top: 85%
        
    }
    
    
    .city_state {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    .date{
        margin: 0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding: 0;
    }
    
    .reservation{
        margin: 0;
        padding: 0;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    
    }
    .rsvp_button:hover{
        background-color: #d8b786;
        color: #5e704a;
    }
    .rsvp_back{
        background-image: url("olive_2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 33.3%;
        height: 100%;
        float: right;
    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        top: 50%;
        left: 70%;
        
        
    }
    
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        font-family: didot,serif;
    }
    
    .wrapper{
        margin: auto;
        width: 60%;
        padding: 10px;
        border: 3px solid burlywood;
        border-radius: 10px;
        background-color: #d8b786;
        position: relative;
    }
    
    .form{
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    h2{
        margin: 0;
        font-size: 15px;
    }
    input{
        font-family: didot,sarif;
        width: 90%;
        padding: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: rgb(233, 233, 201);
        border: 2px solid #7c8e76;
        font-size: small;
    
    }
    .submit{
        width: 96%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .submit:hover{
        background-color: #7c8e76;
        color: #d8b786;
    
    }
    .dialog{
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .cancel_button{
        font-family: didot,serif;
        width: 30%;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #7c8e76;
        color: #7c8e76;
    }
    .cancel_button:hover{
        background-color: #7c8e76;
        color: #d8b786;
    }
}


@media screen and (max-width: 1024px) and (min-width: 551px) and (min-height: 540px) and (max-height: 599px) { /*Tablets_Portrait*/
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
     }

    .front_img{
        background-image: url("images/Finished Product-064.jpg");
        background-size: 100% 100%;
        width: 100%;
        height: 60%;
    }

    .title{
        margin-left: 5%;
        padding: 0;
        font-size: xx-large;
        top: 42%;
    }
    .rsvp_back{
        width:100%;
        top: 40%;
        height: 100%;

    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        top: 80%;
    }

    .city_state{
        margin: 0;
        padding: 0;
    }
    .date{
        margin:0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding:0;
    }
    .reservation{
        margin:0;
        padding: 0;
    }
    .dialog{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
    }
    .wrapper{
        top: 35%;
        
    }
    .form{
        font-size: 25px;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    }
}

@media screen and (max-width: 1025px) and (min-width: 710px) and (min-height: 1020px) and (max-height: 1400px) { /*Ipads_Portrait*/
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
     }

    .front_img{
        background-image: url("images/Finished Product-064.jpg");
        background-size: 100% 100%;
        width: 100%;
        height: 60%;
    }

    .title{
        margin-left: 5%;
        padding: 0;
        font-size: xx-large;
        top: 42%;
    }
    .rsvp_back{
        width:100%;
        top: 40%;
        height: 100%;

    }
    .rsvp_info{
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        top: 80%;
    }

    .city_state{
        margin: 0;
        padding: 0;
    }
    .date{
        margin:0;
        padding: 0;
    }
    .countdown{
        margin: 0;
        padding:0;
    }
    .reservation{
        margin:0;
        padding: 0;
    }
    .dialog{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; 
    }
    .wrapper{
        top: 35%;
        
    }
    .form{
        font-size: 25px;
    }
    
    .rsvp_button{
        font-family: didot, serif;
        height: auto;
        background-color: transparent;
        border: 2px solid #d8b786;
        color: #d8b786;
        padding: 10px;
        position: relative;
        top: 50%;
        cursor: pointer;
        font-size: 15px;
        width: 90%;
    }
}

    

