body{
    background-color: #5e704a;
}
.thankyou{
    font-family: didot, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading_ty{
    text-align: center;
    color: #d8b786;
}
.thankyou_msg{
    text-align: center;
    color: #d8b786;
}

.go_back{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#d8b786
}

.checkmark{
    fill: #d8b786;
    display: block;
    margin: auto;
}